@import url("normalize.css");
@import url("navbar.css");

@import 'https://fonts.googleapis.com/css?family=Lalezar';
@import 'https://fonts.googleapis.com/css?family=Baloo+Thambi';
body {
    padding: 70px 0 0 0;
    margin: 0 0 0 0;
}


html { font-size: 100% }

.container {
    padding: 2em;
    height: 500px;
}

.container {
    position: relative;
}

.row {
    position: relative;
}

body{
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1e5799+0,21a4b2+50,515796+100 */
    background: #1e5799; /* Old browsers */
    background: -moz-linear-gradient(top,  #1e5799 0%, #21a4b2 50%, #515796 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #1e5799 0%,#21a4b2 50%,#515796 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #1e5799 0%,#21a4b2 50%,#515796 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#515796',GradientType=0 ); /* IE6-9 */

}

.footer {
    position: fixed;
    text-align: center;
    float: bottom;
    bottom: 0;
    width: 100%;
    height: 30px;
    background-color: #78de56;
    color: white;
    font-family: "Arial Black";
    font-size: larger;
    margin-right: auto;
    margin-left: auto;
}

#page-header{
    text-align: left;
}
#page-slideshow{
    text-align: center;
}

#address {
    margin-top: 50em;
}

#slideshow {
    position: absolute;
    width: 240px;
    height: 240px;
}

#slideshow > div {
    position: absolute;
    text-align: center;
}

.page-list{
    text-align: left;
    list-style-type: none;
    padding: 0;
}

ul{
    padding: 0;
}

.text-left-cust , .text-right-cust
{
    font-size: 5em;
    color: #333333;
    padding: 1em 1em 0 1em;
    font-weight: bold;
    font-family: 'Lalezar', cursive;
}

.text-left-cust
{
    text-align: left;
}

.text-right-cust
{
    text-align: right;
}

.modal-title
{
    color: darkred;
    text-shadow: -1px 0 #590000, 0 1px #590000, 1px 0 #590000, 0 -1px #590000;
    padding-top: .5em;
    font-size: 8vw;
    text-align: center;
    font-family: 'Baloo Thambi', cursive;
}

@media (max-width:1000px)
{
    html { font-size: 70% }
}

@media (max-width:700px)
{
    html { font-size: 60% }
    .text-left-cust , .text-right-cust
    {
        font-size: 3.5em;
    }
}

@media (max-width:500px)
{
    html { font-size: 40% }
    .text-left-cust , .text-right-cust
    {
        font-size: 3em;
    }
}

@media (max-width: 390px)
{

    html { font-size: 20% }
}








