@import url("normalize.css");
@import 'https://fonts.googleapis.com/css?family=Lalezar';
@import 'https://fonts.googleapis.com/css?family=Baloo+Thambi';
@import 'https://fonts.googleapis.com/css?family=Concert+One';
@import 'https://fonts.googleapis.com/css?family=Trocchi';
@import 'https://fonts.googleapis.com/css?family=Lora';
body {
    padding: 40px 0 0 0;
    margin: 0 0 0 0;
}


html { font-size: 100% }

.container {
    padding: 2em;
    height: 500px;
}

.container {
    position: relative;
}

.row {
    position: relative;
}

body{
    background: red;
}

.footer {
    position: fixed;
    text-align: center;
    float: bottom;
    bottom: 0;
    width: 100%;
    height: 30px;
    background-color: #78de56;
    color: white;
    font-family: "Arial Black";
    font-size: larger;
    margin-right: auto;
    margin-left: auto;
}

#page-header{
    text-align: left;
}
#page-slideshow{
    text-align: center;
}

#address {
    margin-top: 50em;
}

#slideshow {
    position: absolute;
    width: 240px;
    height: 240px;
}

#slideshow > div {
    position: absolute;
    text-align: center;
}

.page-list{
    text-align: left;
    list-style-type: none;
    padding: 0;
}

ul{
    padding: 0;
}

.text-left-cust , .text-right-cust , .page-list>li>a
{
    color: #E9F1F7;
    padding: 1em 1em 0 1em;
    font-family: 'Lora', serif;
}


.page-list
{
    font-size: 2em;
}


.text-left-cust , .text-right-cust
{
    font-size: 10em;
}


.text-left-cust
{
    text-align: left;
}

.text-right-cust
{
    text-align: right;
}

.modal-title
{
    color: darkred;
    text-shadow: 2px 0 #262653;
    padding-top: .5em;
    font-size: 8vw;
    text-align: center;
    font-family: 'Trocchi', serif;
}


.block
{
    display: block;
    text-align: center;
}


@media (max-width:2000px)
{

    html { font-size: 70% }
    .text-left-cust , .text-right-cust
    {
        font-size: 7em;
    }
}


@media (max-width:1400px)
{

    html { font-size: 70% }
    .text-left-cust , .text-right-cust
    {
        font-size: 4em;
    }
}

@media (max-width:1000px)
{
    html { font-size: 70% }
}

@media (max-width:700px)
{
    html { font-size: 60% }
    .text-left-cust , .text-right-cust
    {
        font-size: 3.7em;
    }
}

@media (max-width:500px)
{
    html { font-size: 40% }
    .text-left-cust , .text-right-cust
    {
        font-size: 2.8em;
    }
}

@media (max-width: 440px)
{

    html { font-size: 20% }
    .text-left-cust , .text-right-cust
    {
        font-size: 2.5em;
    }
}



.MainLogo
{
    margin: 2em;
}

.Events
{
    font-family: 'Lora', serif;
    text-align: center;
    font-size: 7em;
    margin: 0;
    padding: 0;
    color: #E9F1F7;
}

.thumbnail
{
    background-color: transparent;
    text-decoration: none;
    border: none;
}


.EventView
{
    overflow-y: hidden;
    min-height: 100vh;

}

.project
{
    min-height: 100vh;
}

.flex
{
    display: flex;
    flex-wrap: wrap;
}

.nav-flex {
    width: 200px;
}
.flex-column {
    -webkit-flex: 1;
    flex: 1;
}

.form>a
{
   color:  darkblue;
}





















/*Hover Css*/
.hovereffect {
    width: 100%;
    height: 100%;
    float: left;
    overflow: hidden;
    position: relative;
    text-align: center;
    cursor: default;
    margin: 1em 0 0 0;
}

.hovereffect .overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
}

.hovereffect img {
    display: block;
    position: relative;
    -webkit-transition: all 0.4s ease-in;
    transition: all 0.4s ease-in;
}

.hovereffect:hover img {
    filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feColorMatrix type="matrix" color-interpolation-filters="sRGB" values="0.2126 0.7152 0.0722 0 0 0.2126 0.7152 0.0722 0 0 0.2126 0.7152 0.0722 0 0 0 0 0 1 0" /><feGaussianBlur stdDeviation="3" /></filter></svg>#filter');
    filter: grayscale(1) blur(3px);
    -webkit-filter: grayscale(1) blur(3px);
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}

.hovereffect h2 {
    text-transform: uppercase;
    text-align: center;
    position: relative;
    font-size: 17px;
    padding: 10px;
    background: rgba(0, 0, 0, 0.6);
}

.hovereffect a.info {
    display: inline-block;
    text-decoration: none;
    padding: 7px 14px;
    border: 1px solid #fff;
    margin: 50px 0 0 0;
    background-color: grey;
}

.hovereffect a.info:hover {
    box-shadow: 0 0 5px #fff;
}

.hovereffect a.info, .hovereffect h2 {
    -webkit-transform: scale(0.7);
    -ms-transform: scale(0.7);
    transform: scale(0.7);
    -webkit-transition: all 0.4s ease-in;
    transition: all 0.4s ease-in;
    opacity: 0;
    filter: alpha(opacity=0);
    color: #fff;
    text-transform: uppercase;
}

.hovereffect:hover a.info, .hovereffect:hover h2 {
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}
